[Unit]
Description=GSS-Worker
After=rabbitmq.service

[Service]
Restart=always

[Service]
TimeoutStartSec=0
User=gs3
Group=gs3
Restart=always
ExecStart=/usr/bin/node /home/gs3/gss-worker run

[Install]
WantedBy=multi-user.target
